*{
    margin: 0;
    padding: 0;
    font-family:Poppins ;
    text-decoration: none;

}

nav{
    position: fixed;
    background-color: white;
    width:100%;
    z-index: 999;
}
.navbody{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.3rem 0 1.3rem;
}
.navLinks ul {
    display: flex;
   list-style: none;
   justify-content: space-evenly;
   gap:5vw
}
.navLinks ul li:last-child{
    background-color: black;
    color:white;
    border-radius: 0.2rem;

}
.navLinks ul li{
    padding: 0.62rem;
    align-items: center;

}

/* ------------ nav end-------------------- */

/* ------------ Section 1 -------------------- */

section .section_1{
    height: 100vh;
}
.section_1{
    padding: 5.4rem 2rem 0  2rem;
}

.sec1Body{
    background-color: #F4F6F5;
    border-radius: 0.4rem;
    padding: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-around;
}
.bigtext{
    font-size: 3.2rem;
    font-weight: 400;  
    width: 495.785px;
}
.bigtext span:last-child{
 background: #EBD96B;
 padding-left: 2rem; 
 padding-right: 2rem; 
}
.bigtext span:first-child{
    background: white;
    padding-left: 2rem; 
    padding-right: 7rem; 
}
.rightSec1Things img{
  height: 100vh;
  width: 35rem;
  object-fit: contain;
  
}
.leftSec1Things{
    display: flex;
    flex-flow: column;
    justify-content: start;
    gap: 2rem;
}
.endthings button{
    background: #000;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 0.2rem;
    font-size: medium;
}
.endthings{
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.smallText h4{
    font-weight:400 ;
    font-size: 1.2rem;
}


/* -------------sec2 -------------------- */
.section_2Bar{
    /* padding: 2rem; */
}
.sec2body{
    background: #EBD96B;
    padding: 4rem;
}
.sec2body ul {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly;
     list-style: none;
}
.sec2body ul li img{
    mix-blend-mode: multiply;
    height: 3.2rem;
    width: 100%;
}

/* --------------sec----------------------- */
section .newArrv{
    height: 100vh;
}

.sec3-newarrival{
    padding: 4rem;
}
.sec3-newarrival header{
    font-size: 2rem;
    font-weight: 600;
}
.sec3-newarrival header img{
    height: 1.4rem;
     position: absolute;
     left: 12rem;
     z-index: -1;
}
.sec3-newarrival ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:5.5rem;
    overflow-x: scroll;
    padding-top: 6rem;
    
}
.sec3-newarrival ul::-webkit-scrollbar {
    display: none;
}
.CatlogBox img{
    height: 25vw;
    border-radius: 0.2rem;
}
.ImgBottom{
    display: flex;
    justify-content: space-between;
}
.arrowCheck svg{
    height: .7rem;
    padding-top: .8rem;
}
.texts{
    color: rgba(0, 0, 0, 0.697);

}
.headtext{
    font-weight: 700;
}

/* ---------------sec4---------------- */

.addSec{
    display: flex;
    justify-content:first baseline;
    background: linear-gradient(1deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}
.rightAdthing{
    justify-content: start;
    justify-self: center;
    padding-left: 15rem;
}
.rightContents{
    padding:8rem 0;
    display: grid;
    justify-content: center; 
    align-items: center;
    gap: 1.2rem;
}
.rightAdthing span{
    background: white;
    padding:0  0.41rem;
}
.leftaddGirl img{
    height: 42rem;
}
.rightAdthing h4{
    font-size: 4rem;
    width: 428.995px;
    
}
.rightAdthing h6{
    font-size: 1rem;
    font-weight: 400;
    width: 20vw;
}
.h5Div{
font-weight:600;
color: #000000cf;

}
.addSec button{
    background: #000;
    color: white;
    padding:  0.6rem 1.5rem;
    font-size: 0.94vw;
    font-weight: bold;
    border-radius:0.2rem ;
    border: none;
    width: max-content;   
    
}

/* --------------sec-5-------------------- */
.favsec{
    /* height: 100vh; */
    padding: 4rem;
    
}
.favsec header{
font-weight: bold;
padding-bottom: 2rem;
font-size: 2rem;

}
.favsec header img{
    height: 1.4rem;
     position: absolute;
     left: 16rem;
     z-index: -1;
}
.favsec ul{
 display: flex;
 list-style: none;
 justify-content: space-between;
 /* gap: 4rem; */
}

/* ----------------sec-6-------------------- */

.sec6_app_ad{
    display: flex;
    padding: 4rem;
    justify-content: space-around;
}
.apprightTings img{
    height: 40rem;
    
}
.appLeft{
    padding:8rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    gap: 2rem;
 }
 .appLeft header{
    font-size: 3rem;
    font-weight: 900;
    width: 35.4vw;
    
 }
 .butonsDownload {
    display: flex;
    gap: 2rem;
 }
 .butonsDownload button{
  border: none;
  background: none;
 }
 .butonsDownload button img{
    /* mix-blend-mode:soft-light; */
    border-radius: 0.4rem;
    cursor: pointer;
   }


/* -------------------senEndLast----------------------- */
.endsecContect{
    background: #E5C643;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
}
.endsecContect header{
    color: white;
    font-size:2.3rem ;
    font-weight: 600;
    width: 50%;
    text-align: center;
}
.inputBoxButton{
    background: white;
    padding: 0.2rem 0.2rem;
    border-radius: 0.2rem;

}
.inputBoxButton input{
    border: none;
    width: 17vw;
    padding: 0.2rem 0.2rem;
    outline: none;
}
.inputBoxButton button{
    border: none;
    background: #000;
    color: white;
    padding: 0.4rem 1.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

/* -----------------footer-------------------- */
.footContent{
    background: #000;
    padding: 4rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.footContent ul li{
    list-style: none;
    text-decoration: none;
}

.logosocials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}
.logosocials ul {
    display: flex;
    justify-content: space-between;
    grid-area: 0.1rem;
    list-style: none;
}
.logosocials ul li {
    background: #EBD96B;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
} 
.logosocials ul li  img{
    height: 1.2rem;
} 
.logosocials h5{
    font-weight: lighter;
    font-size: .92rem;
    width: 18vw;
    
}
.navigation ul li a {
    color: white;
    font-weight: lighter;

}
.quickLinks ul li a {
    color: white;
    font-weight: lighter;

}
.legal ul li a {
    color: white;
    font-weight: lighter;
}